* {
    box-sizing: border-box;
}

.site-wrapper {
    background-color: $maneLightAcent;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    // width: 100vw;
    height: 100vh;
    overflow-y: scroll
}

.mainContainer {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: auto;
    background-color: $maneDarkAcent;
    min-height: 80vh;

    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.headerBanner {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

.imageFit {
    max-height: 100%;
    max-width: 100%;
}

.errorLoginBox {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    border: 1px solid black;
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: red;
    text-align: center;
    line-height: 1;
}

.infoLoginBox {
    grid-column: 7 / 13;
    grid-row: auto;
}

.DashboardLeftUp {
    grid-column: 2 / 10;
    grid-row: 2 / 10;
    background-color: $maneColor;

    h2 {
        text-align: center;
    }
}

.DashboardRightUp {
    grid-column: 11 / 20;
    grid-row: 2 / 10;
    background-color: $maneColor;

    h2 {
        text-align: center;
    }
}

.DashboardleftDown {

}

.DashboardRightDown {

}

.CurrentBookingsContainer {
    grid-column: 5 / 15;
    grid-row: 2 / 6;
    background-color: $maneColor;

    h2 {
        text-align: center;
    }
}
.bookingInfo {
    grid-column: 2 / 10;
    grid-row: 2 / 10;
}

.accountInfo {
    grid-column: 2 / 10;
    grid-row: 2 / 5;
}
.overLayModal {
    z-index: 3;
    grid-column: 5 / 10;
    grid-row: 2 / 10;
}

.errorCreationBox {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    border: 1px solid black;
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: red;
    text-align: center;
    line-height: 1;
}
