* {
    box-sizing: border-box;
}

.site-wrapper {
    background-color: $maneLightAcent;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    // width: 100vw;
    height: 100vh;
}

.mainContainer {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: auto;
    grid-row-end: auto;
    background-color: $maneColor;
    min-height: 50vh;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.headerBanner {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

.imageFit {
    max-height: 100%;
    max-width: 100%;
}

.errorLoginBox {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    border: 1px solid black;
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: red;
    text-align: center;
    line-height: 1;
}

.infoLoginBox {
    grid-column: 3 / 5;
    grid-row: auto;
}
