#__next {
    background-color: #fff;
}

.mainContainer {
    width: 90%;
    background-color: aqua;
    min-height: 20em;
    margin: auto;
}

// .headerContainer {
//     width: 100%;
//     background-color: #333;
// }
