/* Navigation styling */

.navbar {
    background-color: $maneDarkAcent;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
    min-height: 50vh;

    a {
        text-decoration: underline;
        text-align: center;

    }

    ul {
        list-style: none;
    }

    ul,
    li {
        // float: left;
        text-align: center;
    }
}
