/* Navigation styling */

.navbar {
    background-color: $maneDarkAcent;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
    min-height: 50vh;
    border-right: solid $maneColor 1px;

    button {
        text-decoration: none;
        margin: 0;
        color: $fontColor;
        padding: 0.8rem;
        font-family: $fontBody;

        background-color: $maneColor;
        border: 1px solid $maneLightAcent;
        text-align: center;
        border-radius: 0.2rem;
        text-decoration: none;
    }

    button:hover {
        text-decoration: underline;
        background-color: $maneLightAcent;
        cursor: pointer;
    }



    ul {
        list-style: none;
    }

    ul,
    li {
        margin-top: 2rem;
        text-align: left;
    }
}
