/* Navigation styling */

.navbar {
    background-color: $trieteryColor;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
    min-height: 50vh;

    a {
        text-decoration: underline;

    }

    ul {
        list-style: none;
        display: inline-block;
    }

    // ul,
    // li {
    //     float: left
    // }
}
