table,
th,
td {
    margin: 1rem auto;
    border: 1px solid $maneDarkAcent;
    border-collapse: collapse;
    padding: 0.2rem;
    text-align: center;
}

tr:hover {
    background-color: $maneDarkAcent;
    cursor: pointer;
}
