html {
    font-size: 100%;
}

body {
    color: $fontColor;
    line-height: $lineHeight;
}

h1,
h2,
h3,
h4 {
    font-family: $fontHeader;
    margin-bottom: $magicNumber * 2;
}

p {
    font-family: $fontBody;
    font-size: $defaultSize;
    margin-bottom: $magicNumber;
}
